<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AmbientBuddy</title>
    <link rel="stylesheet" href="./public/build/tailwind.css">
</head>

<body>
    <!-- Navigation -->
    <section class="w-full px-8 text-gray-700 bg-white body-font">
        <div class="container relative flex flex-col items-center justify-center py-5 mx-auto max-w-7xl md:flex-row">

            <div class="absolute -bottom-3 rounded-full bg-red-700 filter blur-3xl w-full h-full opacity-20"></div>

            <a href="/"
                class="items-center inline-block font-sans text-3xl font-extrabold text-center text-black no-underline bg-transparent cursor-pointer focus:no-underline">
                <img class="w-20 h-20" src="./images/MarshmallowCoffee.png">
            </a>
        </div>
    </section>

    <section class="flex flex-col w-full bg-white lg:flex-row">
        <div class="flex justify-end p-8 bg-white lg:py-32 lg:px-16 lg:pl-10 lg:w-1/2">
            <div class="flex flex-col items-start justify-center w-full lg:max-w-lg">
                <p
                    class="font-mono inline-block px-2 py-1 mb-5 font-medium tracking-wide font-bold text-gray-900 uppercase bg-gray-200 rounded-lg text-xxs">
                    CURATED PLAYLIST
                </p>

                <div class="relative">
                    <div
                        class="absolute top-0 left-4 bg-gradient-to-r from-blue-500 to-indigo-800 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                    </div>
                    <div
                        class="absolute top-0 right-4 bg-indigo-600 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                    </div>
                    <div
                        class="absolute -bottom-8 left-20 bg-yellow-600 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                    </div>

                    <h3
                        class="font-sign font-bold mb-3 text-3xl sm:text-5xl md:text-5xl lg:text-5xl text-transparent bg-gradient-to-r bg-clip-text from-blue-500 to-indigo-800">
                        this is <br> ambientbuddy
                    </h3>
                    <p class="pb-3 pt-5 font-sign font-bold text-transparent bg-gradient-to-r bg-clip-text from-red-700 to-indigo-800">
                        Immerse yourself in a world of calm and tranquility, The ultimate ambient sound app designed to transport you to a realm of pure relaxation.
                    </p>

                    <hr>

                    <p class="pb-3 pt-5 font-sign font-bold text-transparent bg-gradient-to-r bg-clip-text from-orange-700 to-red-700">
                        Adjust the intensity of each sound to find the perfect balance, seamlessly blend multiple soundscapes to create your own personalized sanctuary.
                    </p>
                </div>

                <br class="pt-4">

                <div class="flex items-center">
                    <div class="grid gap-8 items-start justify-center">
                        <div class="relative group">

                            <div
                                class="absolute -bottom-3 rounded-lg bg-yellow-700 filter blur-2xl w-40 h-10 opacity-30">
                            </div>

                            <div
                                class="relative overflow-x-auto shadow-md transition-all duration-700 hover:shadow-2xl rounded-lg">
                                <table class="w-full text-sm text-left text-gray-500">
                                    <thead class="text-xs text-gray-700 bg-gray-100">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                <p class="font-mono font-extrabold">sound</p>
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                <p class="font-mono font-extrabold">volume</p>
                                            </th>
                                            <th scope="col" class="px-6 py-3">
                                                <p class="font-mono font-extrabold">play/pause</p>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for key in main_audio %}
                                        <tr class="bg-white ">
                                            <th scope="row"
                                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                                {{main_audio[key]["name"]}}
                                            </th>
                                            <td class="px-6 py-4">
                                                <audio id="{{main_audio[key]['audio_id']}}"
                                                    src="{{main_audio[key]['src']}}" loop preload="auto"></audio>
                                                <audio id="{{main_audio[key]['audio_id']}}_crossfade"
                                                    src="{{main_audio[key]['src']}}" loop preload="auto"></audio>


                                                <input min="1" max="100" value="100" class="slider" type="range"
                                                    id="{{main_audio[key]['volume_input']}}"></input>
                                            </td>
                                            <td class="px-6 py-4">
                                                <button id="{{main_audio[key]['button_id']}}"
                                                    onClick="audioTogglePlay('{{main_audio[key]['id']}}')"
                                                    class="transition-all duration-700 relative px-7 py-2 bg-white rounded-lg shadow hover:shadow-2xl flex items-center">
                                                    <span
                                                        class="font-mono font-bold text-blue-700 hover:text-blue-900 transition duration-200">PLAY</span>
                                                </button>
                                            </td>
                                        </tr>

                                        {% endfor%}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative lg:w-1/2">
            <img src="./images/flowercrown.png" alt="Hero Image" class="object-scale-down h-300">
        </div>
    </section>

    <!-- More Audio -->

    <section class="py-20 bg-white">
        <div class="px-4 mx-auto text-center max-w-7xl sm:px-6 lg:px-8">
            <div class="text-center max-w-4xl mx-auto tracking-tighter relative">
                <h2 class="font-sign text-2xl font-bold leading-none text-black sm:text-3xl md:text-4xl">
                    More Audio
                </h2>
                <div class="absolute -bottom-4 rounded-full bg-yellow-300 filter blur-3xl w-full h-full opacity-20">
                </div>
            </div>
            <p
                class="font-sign max-w-md mx-auto mt-3 text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                Below are all the audio available, to request a specific audio track contact us.
            </p>
        </div>

        <br><br><br>

        <div class="px-4 mx-auto text-center w-1/2 sm:px-6 lg:px-8">
            <div class="grid gap-8 items-start text-center">
                <div class="relative group">

                    <div class="absolute -bottom-3 rounded-lg bg-yellow-700 filter blur-2xl w-40 h-10 opacity-30">
                    </div>

                    <div>
                        <div
                            class="absolute top-0 left-4 bg-gradient-to-r from-blue-500 to-indigo-800 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                        </div>
                        <div
                            class="absolute top-0 right-4 bg-indigo-600 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                        </div>
                        <div
                            class="absolute -bottom-8 left-20 bg-yellow-600 w-full h-full rounded-full mix-blend-multiply filter blur-2xl opacity-10">
                        </div>
                        <div
                            class="relative overflow-x-auto shadow-md transition-all duration-700 hover:shadow-2xl rounded-lg">

                            <table class="w-full text-sm text-left text-gray-500">
                                <thead class="text-xs text-gray-700 bg-gray-100">
                                    <tr>
                                        <th scope="col" class="px-6 py-3">
                                            <p class="font-mono font-extrabold">sound</p>
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            <p class="font-mono font-extrabold">volume</p>
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            <p class="font-mono font-extrabold">play/pause</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for category in more_audio %}

                                    <tr class="bg-white">
                                        <th scope="row" class="px-6 py-4"> <span
                                            class="text-small font-mono inline-block px-2 tracking-wide font-bold text-white uppercase bg-gradient-to-r from-red-800 to-indigo-800 rounded-lg text-xxs">{{ category }} </span></th>
                                        <td class=""></td>
                                        <td class=""></td>
                                    </tr>

                                        {% for key in more_audio[category] %}
                                        <tr class="bg-white ">
                                            <th scope="row" class="px-6 py-4 font-sign font-medium text-gray-900 whitespace-nowrap">
                                                {{more_audio[category][key]["name"]}}
                                            </th>
                                            <td class="px-6 py-4">
                                                <audio id="{{more_audio[category][key]['audio_id']}}"
                                                    src="{{more_audio[category][key]['src']}}" preload="auto"></audio>
                                                <audio id="{{more_audio[category][key]['audio_id']}}_crossfade"
                                                    src="{{more_audio[category][key]['src']}}" preload="auto"></audio>

                                                <input min="1" max="100" value="100" class="slider" type="range"
                                                    id="{{more_audio[category][key]['volume_input']}}"></input>
                                            </td>
                                            <td class="px-6 py-4">
                                                <button id="{{more_audio[category][key]['button_id']}}"
                                                    onClick="audioTogglePlay('{{more_audio[category][key]['id']}}')"
                                                    class="transition-all duration-700 relative px-7 py-2 bg-white rounded-lg shadow hover:shadow-2xl flex items-center">
                                                    <span
                                                        class="font-mono font-bold text-blue-700 hover:text-blue-900 transition duration-200">PLAY</span>
                                                </button>
                                            </td>
                                        </tr>

                                        {% endfor %}

                                    {% endfor%}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <script src="audio.js"></script>
</body>

</html>